{
    "svelteSortOrder": "scripts-styles-markup",
    "svelteBracketNewLine": false,
    "printWidth": 120,
    "jsxBracketSameLine": true,
    "htmlWhitespaceSensitivity": "strict",
    "trailingComma": "none"
  }
  